* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html{
  scroll-behavior: smooth;
}

body {
  background-color: #4f302b;
  font-family: Arial, Helvetica, sans-serif;
  background: url() no-repeat;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
}

header {
  display: block;
}

header{
  max-width: 1450px;
  margin: 0px auto 0 auto; 
}
.container {
  background-color: #ffffff;
  padding: 5px 6px;
  margin: 0 auto;
}
.Hcon{
  border-bottom:1px solid #4f302b;
}

#logo {
  margin-top: -20px;
  margin-bottom: 25px;
  margin-left: 20px;
}

#logo img {
  position: absolute;
  top: -20px;
  max-height: 127px;  
  z-index: 1;
}



.ne-1 {
  position: relative;
  max-width: 80%;
}

#izdey {
  height: 73px;;
  padding: 0 10px;
}

#izdey form {
  width: auto;
  float: right;
  margin-right: 30px;
}
#izdey input {
  width: 500px;
  height: 42px;
  padding-left: 15px;
  border: 2px solid #4f302b;
  background: #ffffff;
  color: #4f302b;
  outline: none;
  position: relative;
  transition: .3s linear;
  display: table;
  border-collapse: separate;
}


button.lupabut{
  width: 42px;
  height: 42px;
  top: 0px;
  right: 0;
  border: none;
  background: #4f302b;
  cursor: pointer;
  position: absolute;
  
}
button.lupabut:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #ffffff;
}
.options {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  z-index: 10;
}

.options li {
  background: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 18px;
  text-transform: capitalize;
  }
.opsh1{
  background: #ffc600;
}

ul.mnavb-nav {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
 }
 ul.mnavb-nav li {
  color: #4f302b;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: none;
  padding: 3px; /* Поля вокруг текста */
 }
.collapse{
  position: relative;
  height: 30px;
  top: 5px;
}
.develery:before {
  content: "\f48b";
  font-family: FontAwesome;
  font-size: 16px;
  color: #3eb527;
}


/* scroll */
::-webkit-scrollbar {
  width: .65em;
}

::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0);
}

::-webkit-scrollbar-thumb {
  background: #4f302b;
  border-radius: 5px;
  box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}
/* все что ниже это слайд */

#slides{
  position: relative;
  max-width: 1450px;
  height: 300px;
  padding: 0px;
  margin: 0 auto;
  list-style-type: none;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.slide{
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  background-size: cover;
}
#slides h1{
  position: absolute;
  inset: 0px;
  font-size: 125px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.slide:nth-of-type(1){
  background-color: red;
  
  background-position-y: center;
  background-size: cover;
  background-image: url("../assets/img/Slide1.jpg");
}

.slide:nth-of-type(2){
  background-color: orange;
  background-size: contain;
  background-image: url("../assets/img/Slide2.jpg");
}

.slide:nth-of-type(3){
  background-color: green;
  background-position-y: center;
  background-size: cover;
  background-image: url("../assets/img/Slide3.jpg");
}
.slide:nth-of-type(4){
  background-color: blue;
  background-position-y: center;
  background-size: cover;
  background-image: url("../assets/img/Slide4.jpg");
}
.darkcs{
  background-color: rgba(0, 0, 0, 0.389);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


.buttons{
  display: flex;
  justify-content: center;
  }
  .prv_b, .nxt_b{
    position:absolute;
    top:135px;
    z-index: 2;
    width:35px;
    height:35px;
    cursor:pointer;
    }
    .prv_b:hover, .nxt_b:hover{opacity:.6;}
    .prv_b{
    left:10px;
    background:url(image/prv.png) no-repeat;
    }
    .nxt_b{
    right:10px;
    background:url(image/nxt.png) no-repeat;
    }

/* Весь контент внизу */
.mainlist {
  position: static;
  background: #dfdfdf;
  margin: 10px auto;
  box-sizing: border-box;
  min-height: calc(100vh - 100px);
  display: flex;  
  }
.mainlist1 {
  width: 1450px;
  margin: 0px auto 0 auto;
  padding: 15px;
  box-sizing: border-box;
  display: flex;  
  background: #dfdfdf;
  }


.list-group {
  padding-left: 0;
}
.list-group a {
  display: block;
  color: #000;
  background: none;
  padding: 8px 15px;
  border: none;
  font-size: 18px;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


.cards {
  display: inline;
  margin-left: 20px;
}
.card {
  margin-left: 10px;
  margin-bottom: 12px;
  float: left;
  width: 252px;
  max-height: 365px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 250px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }

  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
    transform: scale(1.1);
  }

/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 16px;
  right: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; 
  text-overflow: ellipsis;
}
.card__title:hover {
  color: #ff6633;
}

.prices__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.price{
  font-size: 25px;
}

.add {
  display: block;
  width: 130px;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}
.add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}


.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: none;
  z-index: 9;
}
.modal__main {
  position: relative;
  max-width: 700px;
  background-color: #fff;
  margin: auto;
  color: #000;
  border-radius: 16px;
  padding: 30px 30px 30px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}


.modal__main input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.input-box{
  width: 500px;
  padding: 5px 0px 0px 0px; 
}
.modal__main .check_whatsapp{
  display: inline-flex;
  float: right;
}

.check_whatsapp .check_0{
  width: 22px;
  height: 42px;
}
.check_whatsapp .icon_wsp{
  width: 42px;
  height: 42px;
}



#NF{
  text-transform: capitalize;
}
.modal__main .inp-0{
  width: 100%; 
}
.modal__main .inp-1{
  width: 80%;
}

#dish{
  width: 420px;
  height: 42px;
}

.modal__main .send{
  margin: 10px auto auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}
.modal__main .send_button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color .15s ease-in-out;
  border-radius: 3px;
  padding: 0;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
}
.modal__close:focus-visible {
  outline-color: green;
}



	#checkbox{
		display: none;
	}
	.panel{
		background-color: #4f302b;
		color: #fff;
		width: 320px;
		height: 100vh;
		padding: 40px 20px;
		position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
		top: 0;
		z-index: 9999;
		left: -360px;
		transition: all 0.8s;
	}
	.panel-btn-close{
		cursor: pointer;
		color: #fff;
		font-size: 30px;
		transform: rotate(45deg);
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;
	}

	.button-1 .btn{
    display: none;
    background-attachment: scroll;
		background-color: #4f302b;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		position: relative;
		font-size: 16px;
		padding: 10px;
	}

	#checkbox:checked + .panel{
		left: 0;
	}
.main404{
  position: static;
  margin: 10px auto;
  box-sizing: border-box;
  min-height: calc(100vh - 100px);
}
.oppss{
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.oppss h1{
 font-size:100px;
 margin: 0;
}
.oppss p{
  font-size:20px;
} 
.oppss button{
  background-color: yellow;
  border: none;
}


  .footer-distributed {
    padding: 20px 0px 0px 0px;
    background-color: #4f302b;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }

  .footer-distributed .footer-left {
    display: inline-flex; 
    width: 40%;
  }

  .footer-distributed .logo {
    margin-left: 30px;
  }
  
  .footer-distributed .logo img {
    width: 200px;
  }

  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 5px 5px 25px 30px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a {
    display: block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #ffffff74;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
  }

  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  .footer-distributed .footer-right {
    width: 20%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .coct{
    color: white;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
